.albums {
    /*display: grid; */
    /* grid-template-columns: repeat(2, 1fr);  */
    /* grid-template-columns: repeat(2, minmax(400px, 1fr)); */
    /* grid-gap: 100px; */
    padding: 100px;
    width: 80%;
    padding-top: 70px;
} 

